body {
    color: #6b6b6b;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

#app nav.navbar {
    font-weight: 800;
    background-color: #0576ae;
}

#app nav.navbar .navbar-brand {
    color: #ffffff;
}

#app .section-hero {
    background-color: #143852;
    text-align: left;
    padding: 50px 0 15px;
}

#app .section-hero h1 {
    color: #ffffff;
    font-size: 2.625rem;
    font-weight: 400;
    line-height: 49px;
    margin-top: 0;
    margin-bottom: 20px;
}

#app .section-hero p {
    color: #ffffff;
    line-height: 24px;
}

#app label,
#app .label {
    display: inline-block;
    font-weight: 700;
    text-align: left;
    line-height: 2em;
}

#app .fa-icon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 4px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: #5cb85c;
}

#app .row {
    margin: 20px 0;
}

#app .form-control,
#app .custom-select,
#app .vdp-datepicker input {
    background-color: #f2f4f5;
}